.Person{
   box-shadow: 0 2px 3px #ccc;
   text-align: center;
   margin:16px auto;
   padding:16px;
   border: 1px solid #eee;
   width:60%;
}


@media(min-width:500px) 
{
    .Person {
         width:450px;
    }
}